<div class="product__content">
    <div class="product__images images-product">
        <div class="images-product__mainslider _swiper">
            {% for item_image_main_slide in range(5) %}
            <a href="" class="images-product__mainslide">
                {% if item_image_main_slide % 2 == 0 %}
                <div class="images-product__sale">-15%</div>
                {% endif %}
                <div class="images-product__image"><picture><source srcset="static/img/product/01.webp" type="image/webp"><img src="static/img/product/01.jpg" alt=""></picture></div>
            </a>
            {% endfor %}
        </div>
        <div class="images-product__subslider _swiper">
            {% for item_image_sub_slide in range(5) %}
            <div class="images-product__subslide">
                <div class="images-product__subimage _ibg"><picture><source srcset="static/img/product/01.webp" type="image/webp"><img src="static/img/product/01.jpg" alt=""></picture></div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="product__body body-product">
        <div class="body-product__top">
            <a href="" class="body-product__compare"><span>Сравнить</span></a>
            <div class="body-product__stock">в наличии</div>
        </div>
        <div class="body-product__actions actions-product">
            <div class="actions-product__row">
                <div class="actions-product__column">
                    <div class="actions-product__price actions-product__price_old rub">64 990</div>
                    <div class="actions-product__price rub">64 990</div>
                </div>
                <div class="actions-product__column">
                    <div class="actions-product__quantity quantity">
                        <div class="quantity__button quantity__button_minus"></div>
                        <div class="quantity__input">
                            <input autocomplete="off" type="text" name="form[]" value="1">
                        </div>
                        <div class="quantity__button quantity__button_plus"></div>
                    </div>
                </div>
                <div class="actions-product__column">
                    <a href="" class="actions-product__cart">
                        <span>В корзину</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="body-product__include include-product">
            <div class="include-product__title">В стоимость товара включено:</div>
            <div class="include-product__items">
                <div class="include-product__item">
                    <div class="include-product__icon">
                        <picture><source srcset="static/img/icons/include/01.webp" type="image/webp"><img src="static/img/icons/include/01.png" alt=""></picture>
                    </div>
                    <div class="include-product__text">Бесплатная сборка</div>
                </div>
                <div class="include-product__item">
                    <div class="include-product__icon">
                        <picture><source srcset="static/img/icons/include/02.webp" type="image/webp"><img src="static/img/icons/include/02.png" alt=""></picture>
                    </div>
                    <div class="include-product__text">Бесплатная доставка</div>
                </div>
                <div class="include-product__item">
                    <div class="include-product__icon">
                        <picture><source srcset="static/img/icons/include/03.webp" type="image/webp"><img src="static/img/icons/include/03.png" alt=""></picture>
                    </div>
                    <div class="include-product__text">Гарантия</div>
                </div>
            </div>
        </div>
    </div>
</div>