<div class="catalog">
    <h1 class="catalog__title">Популярные товары</h1>
    {% include "blocks/catalog_block/catalog_page_block/catalog_actions.html" %}
    <div class="catalog__navi navi-catalog navi-catalog_top">
        {% include "blocks/catalog_block/catalog_page_block/catalog_navigation.html" %}
    </div>
    {% include "blocks/catalog_block/catalog_page_block/catalog_items.html" %}
    <div class="catalog__navi navi-catalog">
        {% include "blocks/catalog_block/catalog_page_block/catalog_navigation.html" %}
    </div>
</div>