<div class="page__products products-slider">
	<div class="products-slider__header">
		<div class="products-slider__title">Популярные товары</div>
		<div class="products-slider__control">
			<div class="products-slider__arrow products-slider__arrow_prev _arrow _arrow_prev"></div>
			<div class="products-slider__info"></div>
			<div class="products-slider__arrow products-slider__arrow_next _arrow _arrow_next"></div>
		</div>
	</div>
	<div class="products-slider__item _swiper">
		{% for index_items_page in range(2) %}
		<div class="products-slider__slide">
			<div class="products-slider__items items-products">
				{% for index_item in range(6) %}
				<div class="items-products__column">
					<div class="item-product">
						<div class="item-product__labels">
						</div>
						<a href="/product" class="item-product__image">
							<picture><source srcset="static/img/products/02.webp" type="image/webp"><img src="static/img/products/02.jpg" alt="Тенисный стол. Зеленый."></picture>
						</a>
						<div class="item-product__body">
							<a href="/product" class="item-product__title">
								<span>BH Fitness F1 G6414V BH Fitness F1 G6414V</span>
								Беговая дорожка
							</a>
							<div class="item-product__footer">
								{% if (index_item==1 or index_item==3 or index_item==4) %}
								<div class="item-product__old-price rub">65 990</div>
								{% endif %}
								<a href="" class="item-product__add"></a>
								<div class="item-product__price rub">64 990</div>
							</div>
						</div>
						<div class="item-product__hover hover-item-product">
							<a href="/product" class="hover-item-product__title">
								<span>BH Fitness F1 G6414V</span>Беговая дорожка
							</a>
							<div class="hover-item-product__options options-item-product">
								<div class="options-item-product__item">
									<div class="options-item-product__label">Тип беговой дорожки: </div>
									<div class="options-item-product__value">Электрическая</div>
								</div>
								<div class="options-item-product__item">
									<div class="options-item-product__label">Скорость движения (км/ч): </div>
									<div class="options-item-product__value">22</div>
								</div>
								<div class="options-item-product__item">
									<div class="options-item-product__label">Складывание:</div>
									<div class="options-item-product__value">Есть</div>
								</div>
							</div>
							<div class="hover-item-product__body">
								<a href="" class="hover-item-product__cart"></a>
							</div>
							<div class="hover-item-product__footer">
								{% if (index_item==1 or index_item==3 or index_item==4) %}
								<div class="hover-item-product__old-price rub">65 990</div>
								{% endif %}
								<div class="hover-item-product__stock">в наличии</div>
								<div class="hover-item-product__price rub">64 990</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>