{% extends 'template.html' %}

{% block title %}
Каталог
{% endblock %}

{% block page_content %}
<nav class="breadcrumbs">
							<ul class="breadcrumbs__list">
								<li>
									<a href="/" class="breadcrumbs__link">Главная</a>
								</li>
								<li>
									<span class="breadcrumbs__item">Каталог товара</span>
								</li>
							</ul>
						</nav>
<div class="catalog">
							<h1 class="catalog__title">Популярные товары</h1>
							<div class="catalog__actions actions-catalog">
								<div class="actions-catalog__order order-catalog">
									<div class="order-catalog__label">Сортировать по:</div>
									<div class="order-catalog__select">
										<select name="form[]" class="form">
											<option value="1" selected="selected">По умолчанию</option>
											<option value="2">По цене</option>
											<option value="3">По названию</option>
										</select>
									</div>
								</div>
								<div class="actions-catalog__view view-catalog">
									<div class="view-catalog__item view-catalog__item_grid"></div>
									<div class="view-catalog__item view-catalog__item_list"></div>
								</div>
							</div>
							<div class="catalog__navi navi-catalog navi-catalog_top">
								<div class="navi-catalog__show show-catalog">
									<div class="show-catalog__label">На странице:</div>
									<div class="show-catalog__select">
										<select name="form[]" class="show">
											<option value="1" selected="selected">9</option>
											<option value="2">18</option>
											<option value="3">32</option>
											<option value="4">100</option>
										</select>
									</div>
								</div>
								<div class="navi-catalog__pages">
									<div class="pagging">
	<a href="" class="pagging__arrow"></a>
	<ul class="pagging__list">
		<li>
			<a href="" class="pagging__item _active">1</a>
		</li>
		<li>
			<a href="" class="pagging__item">2</a>
		</li>
		<li>
			<a href="" class="pagging__item">3</a>
		</li>
		<li>
			<a href="" class="pagging__item">4</a>
		</li>
		<li>
			<a href="" class="pagging__item">5</a>
		</li>
		<li>
			<a href="" class="pagging__item">...</a>
		</li>
		<li>
			<a href="" class="pagging__item">10</a>
		</li>
	</ul>
	<a href="" class="pagging__arrow"></a>
</div>
								</div>
							</div>
							<div class="catalog__products items-products">
                                {% for i in range(6) %}
								<div class="items-products__column">
									<div class="item-product">
										<div class="item-product__labels">
										</div>
										<a href="/product" class="item-product__image">
											<picture><source srcset="static/img/products/02.webp" type="image/webp"><img src="static/img/products/02.jpg" alt="Тенисный стол. Зеленый."></picture>
										</a>
										<div class="item-product__body">
											<a href="/product" class="item-product__title">
												<span>BH Fitness F1 G6414V BH Fitness F1 G6414V</span>
												Беговая дорожка
											</a>
											<div class="item-product__footer">
                                                {% if (i==1 or i==3 or i==4) %}
                                                <div class="item-product__old-price rub">65 990</div>
                                                {% endif %}
												<a href="" class="item-product__add"></a>
												<div class="item-product__price rub">64 990</div>
											</div>
										</div>
										<div class="item-product__hover hover-item-product">
											<a href="/product" class="hover-item-product__title">
												<span>BH Fitness F1 G6414V</span>Беговая дорожка
											</a>
											<div class="hover-item-product__options options-item-product">
												<div class="options-item-product__item">
													<div class="options-item-product__label">Тип беговой дорожки: </div>
													<div class="options-item-product__value">Электрическая</div>
												</div>
												<div class="options-item-product__item">
													<div class="options-item-product__label">Скорость движения (км/ч): </div>
													<div class="options-item-product__value">22</div>
												</div>
												<div class="options-item-product__item">
													<div class="options-item-product__label">Складывание:</div>
													<div class="options-item-product__value">Есть</div>
												</div>
											</div>
											<div class="hover-item-product__body">
												<a href="" class="hover-item-product__compare"><span>Сравнить</span></a>
											</div>
											<div class="hover-item-product__footer">
                                                {% if (i==1 or i==3 or i==4) %}
                                                <div class="item-product__old-price rub">65 990</div>
                                                {% endif %}
												<a href="" class="hover-item-product__cart hover-item-product__cart_catalog"></a>
												<div class="hover-item-product__price rub">64 990</div>
											</div>
										</div>
									</div>
								</div>
                                {% endfor %}
							</div>
							<div class="catalog__navi navi-catalog">
								<div class="navi-catalog__show show-catalog">
									<div class="show-catalog__label">На странице:</div>
									<div class="show-catalog__select">
										<select name="form[]" class="show">
											<option value="1" selected="selected">9</option>
											<option value="2">18</option>
											<option value="3">32</option>
											<option value="4">100</option>
										</select>
									</div>
								</div>
								<div class="navi-catalog__pages">
									<div class="pagging">
	<a href="" class="pagging__arrow"></a>
	<ul class="pagging__list">
		<li>
			<a href="" class="pagging__item _active">1</a>
		</li>
		<li>
			<a href="" class="pagging__item">2</a>
		</li>
		<li>
			<a href="" class="pagging__item">3</a>
		</li>
		<li>
			<a href="" class="pagging__item">4</a>
		</li>
		<li>
			<a href="" class="pagging__item">5</a>
		</li>
		<li>
			<a href="" class="pagging__item">...</a>
		</li>
		<li>
			<a href="" class="pagging__item">10</a>
		</li>
	</ul>
	<a href="" class="pagging__arrow"></a>
</div>
								</div>
							</div>
						</div>
{% endblock %}