{% extends 'template.html' %}

{% block title %}
Оформление
{% endblock %}

{% block pagecontent %}
<nav class="breadcrumbs">
							<ul class="breadcrumbs__list">
								<li>
									<a href="/" class="breadcrumbs__link">Главная</a>
								</li>
								<li>
									<span class="breadcrumbs__item">Оформление</span>
								</li>
							</ul>
						</nav>
<form action="#" class="checkout">
							<div class="checkout__title title-checkout">Оформление заказа</div>
							<div class="checkout__content content-checkout _tabs">
								<nav class="content-checkout__nav">
									<div class="content-checkout__item _tabs-item _active"><span>Быстрый заказ</span></div>
									<div class="content-checkout__item _tabs-item"><span>Курьером по москве и мо</span></div>
									<div class="content-checkout__item _tabs-item"><span>Доставка в регионы</span></div>
								</nav>
								<div class="content-checkout__body">
									<div class="content-checkout__block _tabs-block _active">
										<div class="content-checkout__form form-checkout">
											<div class="form-checkout__column">
												<div class="form-checkout__line">
													<div class="form-checkout__label">Имя:&nbsp;<span>*</span></div>
													<div class="form-checkout__input">
														<input autocomplete="off" type="text" name="form[]" data-error="Ошибка" data-value="" class="input _req">
													</div>
												</div>
												<div class="form-checkout__line">
													<div class="form-checkout__label">Моб. телефон:&nbsp;<span>*</span></div>
													<div class="form-checkout__input">
														<input autocomplete="off" type="text" name="form[]" data-error="Ошибка" data-value="" class="input _req">
													</div>
												</div>
												<div class="form-checkout__line">
													<div class="form-checkout__label">Ваш E-mail:</div>
													<div class="form-checkout__input">
														<input autocomplete="off" type="text" name="form[]" data-error="Ошибка" data-value="" class="input">
													</div>
												</div>
												<div class="form-checkout__line">
													<div class="form-checkout__label"></div>
													<div class="form-checkout__input">
														<label class="checkbox">
															<input data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
															<span class="checkbox__text"><span>Подписаться на новости и скидки</span></span>
														</label>
													</div>
												</div>
											</div>
											<div class="form-checkout__column">
												<div class="form-checkout__text">
													<p><span>*</span> Поля, обязательные для заполнения</p>
													<p>Отправка товара производится только после 100% оплаты
														товара. Стоимость доставки возможно оплатить при
														получении заказа.x</p>
													<p>
														* Интернет-магазин не несет ответственности за задержку
														доставки заказа, связанную с работой курьерских служб DPD
														и EMS Почты России.
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="content-checkout__block _tabs-block"></div>
									<div class="content-checkout__block _tabs-block"></div>
								</div>
							</div>
							<div class="checkout__order order-checkout">
								<div class="order-checkout__title title-checkout">Ваш заказ</div>
								<div class="order-checkout__items">
                                    {% for i in range(3) %}
									<div class="order-checkout__item item-order">
										<div class="item-order__content">
											<a href="/product" class="item-order__image">
												<picture><source srcset="static/img/products/02.webp" type="image/webp"><img src="static/img/products/02.jpg" alt=""></picture>
											</a>
											<div class="item-order__body">
												<a href="/product" class="item-order__title"><span>BH Fitness F1 G6414V</span> Беговая дорожка </a>
												<div class="item-order__price rub">64 990</div>
											</div>
										</div>
										<div class="item-order__quantity">
											<div class="quantity">
												<div class="quantity__button quantity__button_minus"></div>
												<div class="quantity__input">
													<input autocomplete="off" type="text" name="form[]" value="1">
												</div>
												<div class="quantity__button quantity__button_plus"></div>
											</div>
										</div>
										<div class="item-order__total">
											<div class="item-order__label">Всего:</div>
											<div class="item-order__price rub">64 990</div>
										</div>
										<a href="" class="item-order__delete"></a>
									</div>
                                    {% endfor %}
								</div>
								<div class="order-checkout__footer">
									<div class="order-checkout__total">Итого: <span class="rub">120 000</span></div>
									<button type="submit" class="order-checkout__btn">Оформить заказ</button>
								</div>
							</div>
						</form>
{% endblock %}