<aside class="page__side">
    <nav class="page__menu menu-page">
        <div class="menu-page__header">
            <div class="menu-page__title">Каталог товаров</div>
            <div class="menu-page__burger">
                <div class="menu-page__lines">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="menu-page__body">
            <ul class="menu-page__list">
                <li class="menu-page__parent">
                    <a href="/catalog" class="menu-page__link">Беговые дорожки </a>
                    <div class="menu-page__submenu submenu-page">
                        <div class="submenu-page__item">
                            <ul class="submenu-page__menu">
                                <li><a href="/catalog" class="submenu-page__link">Всепогодный</a></li>
                                <li><a href="/catalog" class="submenu-page__link">Для помещений</a></li>
                                <li><a href="/catalog" class="submenu-page__link">Профессиональный</a></li>
                                <li><a href="/catalog" class="submenu-page__link">Любительский</a></li>
                            </ul>
                            <div class="submenu-page__product">
                                <div class="item-product">
                                    <div class="item-product__labels">
                                    </div>
                                    <a href="/product" class="item-product__image">
                                        <picture><source srcset="static/img/products/01.webp" type="image/webp"><img src="static/img/products/01.jpg" alt="Тенисный стол. Зеленый."></picture>
                                    </a>
                                    <div class="item-product__body">
                                        <a href="/product" class="item-product__title">Домашний теннисный стол Donic Indoor Roller 800 Green</a>
                                        <div class="item-product__footer">
                                            <a href="/product" class="item-product__add"></a>
                                            <div class="item-product__price rub">64 990</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="/catalog" class="menu-page__link">Эллиптические тренажеры</a></li>
                <li><a href="/catalog" class="menu-page__link">Велотренажеры</a></li>
                <li><a href="/catalog" class="menu-page__link">Гребные тренажеры</a></li>
                <li class="menu-page__parent">
                    <a href="/catalog" class="menu-page__link">Вибромассажеры</a>
                    <div class="menu-page__submenu submenu-page">
                        <div class="submenu-page__item">
                            <ul class="submenu-page__menu">
                                <li><a href="/catalog" class="submenu-page__link">Всепогодный</a></li>
                                <li><a href="/catalog" class="submenu-page__link">Для помещений</a></li>
                                <li><a href="/catalog" class="submenu-page__link">Профессиональный</a></li>
                                <li><a href="/catalog" class="submenu-page__link">Любительский</a></li>
                            </ul>
                            <div class="submenu-page__product">
                                <div class="item-product">
                                    <div class="item-product__labels">
                                        <div class="item-product__label">Товар дня</div>
                                    </div>
                                    <a href="/product" class="item-product__image">
                                        <picture><source srcset="static/img/products/01.webp" type="image/webp"><img src="static/img/products/01.jpg" alt="Тенисный стол. Зеленый."></picture>
                                    </a>
                                    <div class="item-product__body">
                                        <a href="/product" class="item-product__title">Домашний теннисный стол Donic Indoor Roller 800 Green</a>
                                        <div class="item-product__footer">
                                            <a href="/product" class="item-product__add"></a>
                                            <div class="item-product__price rub">64 990</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="/catalog" class="menu-page__link">Теннисные столы </a></li>
                <li><a href="/catalog" class="menu-page__link">Баскетбол</a></li>
                <li><a href="/catalog" class="menu-page__link">Массажные кресла</a></li>
                <li><a href="/catalog" class="menu-page__link">Массажные столы </a></li>
                <li class="menu-page__parent">
                    <a href="/catalog" class="menu-page__link">Силовые тренажеры</a>
                    <div class="menu-page__submenu submenu-page">
                        <div class="submenu-page__item">
                            <ul class="submenu-page__menu">
                                <li><a href="/catalog" class="submenu-page__link">Всепогодный</a></li>
                                <li><a href="/catalog" class="submenu-page__link">Для помещений</a></li>
                                <li><a href="/catalog" class="submenu-page__link">Профессиональный</a></li>
                                <li><a href="/catalog" class="submenu-page__link">Любительский</a></li>
                            </ul>
                            <div class="submenu-page__product">
                                <div class="item-product">
                                    <div class="item-product__labels">
                                    </div>
                                    <a href="/product" class="item-product__image">
                                        <picture><source srcset="static/img/products/01.webp" type="image/webp"><img src="static/img/products/01.jpg" alt="Тенисный стол. Зеленый."></picture>
                                    </a>
                                    <div class="item-product__body">
                                        <a href="/product" class="item-product__title">Домашний теннисный стол Donic Indoor Roller 800 Green</a>
                                        <div class="item-product__footer">
                                            <div class="item-product__old-price rub">64 990</div>
                                            <a href="/product" class="item-product__add"></a>
                                            <div class="item-product__price rub">64 990</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-page__parent">
                    <a href="/catalog" class="menu-page__link">Батуты</a>
                    <div class="menu-page__submenu submenu-page">
                        <div class="submenu-page__item">
                            <ul class="submenu-page__menu">
                                <li><a href="/catalog" class="submenu-page__link">Всепогодный</a></li>
                                <li><a href="/catalog" class="submenu-page__link">Для помещений</a></li>
                                <li><a href="/catalog" class="submenu-page__link">Профессиональный</a></li>
                                <li><a href="/catalog" class="submenu-page__link">Любительский</a></li>
                            </ul>
                            <div class="submenu-page__product">
                                <div class="item-product">
                                    <div class="item-product__labels">
                                        <div class="item-product__label">Товар дня</div>
                                    </div>
                                    <a href="/product" class="item-product__image">
                                        <picture><source srcset="static/img/products/01.webp" type="image/webp"><img src="static/img/products/01.jpg" alt="Тенисный стол. Зеленый."></picture>
                                    </a>
                                    <div class="item-product__body">
                                        <a href="/product" class="item-product__title">Домашний теннисный стол Donic Indoor Roller 800 Green</a>
                                        <div class="item-product__footer">
                                            <div class="item-product__old-price rub">64 990</div>
                                            <a href="/product" class="item-product__add"></a>
                                            <div class="item-product__price rub">64 990</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="/catalog" class="menu-page__link">Детские городки</a></li>
                <li><a href="/catalog" class="menu-page__link">Дачная мебель</a></li>
                <li><a href="/catalog" class="menu-page__link">Уличные спортивные комплексы</a></li>
                <li><a href="/catalog" class="menu-page__link">Аксессуары</a></li>
            </ul>
        </div>
    </nav>
    <div data-da="page__content,last,992" class="page__content-side">
        <div class="page__news-side news-side">
            <a href="" class="news-side__title side-title">Новости</a>
            <div class="news-side__items">
                <div class="news-side__item">
                    <a href="" class="news-side__label">Снижение цен на игровые площадки Jungle Gym</a>
                    <div class="news-side__body">
                        <div class="news-side__data"><span>12</span>авг</div>
                        <div class="news-side__text">Уважаемые покупатели! Мы рады сообщить вам о снижениицены с 27 июля на детский игровой комплекс</div>
                    </div>
                </div>
                <div class="news-side__item">
                    <a href="" class="news-side__label">Поступление батутов Eclipse!</a>
                    <div class="news-side__body">
                        <div class="news-side__data"><span>19</span>авг</div>
                        <div class="news-side__text">Уважаемые покупатели! Мы рады сообщить вам о снижениицены с 27 июля на детский игровой комплекс</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page__reviews-side reviews-side">
            <a href="" class="reviews-side__title side-title">Отзывы</a>
            <div class="reviews-side__items">
                <a href="" class="reviews-side__item">
                    <div class="reviews-side__header">
                        <div class="reviews-side__user">Павел Никифоров</div>
                        <div class="reviews-side__data">12.09.2015</div>
                    </div>
                    <div class="reviews-side__body">
                        Ради экономии места в тренажерном
                        зале приобрел многофункциональный
                        силовой тренажер Life Gear. За такую
                        небольшую стоимость и с такими
                        возможностями, он просто не
                        заменим.
                    </div>
                </a>
                <a href="" class="reviews-side__item">
                    <div class="reviews-side__header">
                        <div class="reviews-side__user">Степан Николаевич</div>
                        <div class="reviews-side__data">12.09.2015</div>
                    </div>
                    <div class="reviews-side__body">
                        Спасибо за прекрасный совет,
                        велосипед всей семье понравился
                        и цену за него достойную запросили.
                    </div>
                </a>
            </div>
        </div>
    </div>
</aside>