* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	display: inline-block;
}

header {
	height: 1022px;	
	background: url(img/back-1.jpg) no-repeat center top;
	background-size: auto;
	box-shadow:0 0 0 960px rgba(0, 0, 0, 0.6) inset;
	color: #fff;
}

.other-color {
	width: 100%;
	display: inline-block;
	background-color: #FFE4FF;
	padding-top: 80px;
}

.conteiner {
	width: 1240px;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	font-family: : ﻿Raleway-Extra;
}

.button {
	height: 30px;
	width: 170px;
	background-color: #864973;
	border-radius: 5px; 
	text-transform: uppercase;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 20px;
	margin-left: 500px;
	cursor: pointer;
}


.top_title {
	height: 100px;
	width: 100%;
	padding-top: 25px;
}

.logo_wrap {
	display: inline-block;
	height: 60px;
	width: 390px;
	float: left;
	cursor: pointer;
}
.logos {
	height: 56px;
	width: 64px;
	display: block;
	background: url(img/logos.png) no-repeat center;
	float: left;
}
.logo_wrap h1 {
	padding-top: 10px;
}
.menu {
	width: 770px;
	font-size: 18px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;

}

.menu a {
	display: inline-block;
	color: #fff;
	font-family: : ﻿Raleway-Extra;
	text-decoration: none;
	float: left;
	margin-right: 30px;
}

.menu a:hover {
	color: #864973;
}

.menu_cart {
	height: 24px;
	width: 18px;
	display: inline-block;
	background: url(img/cart.png) no-repeat;
	float: right;
	margin-left: 30px;
	cursor: pointer;
}

.menu_search {
	height: 24px;
	width: 24px;
	display: block;
	background: url(img/search.png) no-repeat;
	float: right;
	margin-left: 30px;
	cursor: pointer;
}

.header_text {
	height: 260px;
	width: 590px;
	text-align: center;
	margin-top: 250px;
	margin-left: 280px;
	font-weight:bold;
}
.header_text h2 {
	font-size: 36px;
}
.header_text h1 {
	font-size: 52px;
}
.header_text p {
	margin-bottom: 50px;
}


.conteiner_content {
	height: 230px;
	width: 275px;
	color: #A7A7A7;
	text-align: center;
	display: inline-block;
	margin-left: 80px;
	margin-top: 90px;
	margin-right: 30px;
	margin-bottom: 80px;
}

.conteiner_content h4 {
	color: #686868;
	font-size: 22px;
	margin-bottom: 20px;	
}

.conteiner_content__selector {
	height: 3px;
	width: 70px;
	border: 1px solid #F1EEE9;
	border-radius: 5px;
	margin-left: 98px;
	margin-top: 30px;
}

.conteiner_content__tulips {
	display: block;
	height: 100px;
	width: 80px;
	background: url(img/tulips.png) no-repeat center top;
	margin-bottom: 30px;
	margin-left: 95px;
}

.conteiner_content__rose {
	display: block;
	height: 100px;
	width: 80px;
	background: url(img/rose.png) no-repeat center top;
	margin-bottom: 30px;
	margin-left: 95px;
}

.conteiner_content__home-flowers {
	display: block;
	height: 100px;
	width: 80px;
	background: url(img/home_flowers.png) no-repeat center top;
	margin-bottom: 30px;
	margin-left: 95px;
}

.conteiner_text {
	height: 110px;
	width: 760px;
	font-size: 16px;
	color: #8C8C8C;
	font-family: ﻿Montserrat-Light;
	text-align: center;
	margin-left: 250px;
}

.conteiner_text h3 {
	font-size: 30px;
	font-family: ﻿Raleway-SemiBold;
	color: #555555;
}

.conteiner_image {
	height: 480px;
	margin-top: 40px;

}

.conteiner_image__left {
	display: inline-block;
	height: 400px;
	width: 770px;
	background: url(img/2-cut.jpg) no-repeat;
	position: absolute;
	margin-top: 80px;
	z-index: 5;
}

.conteiner_image__center {
	display: inline-block;
	height: 480px;
	width: 570px;
	background: url(img/8.jpg) no-repeat center top;
	margin-left: 330px;
	position: absolute;
	z-index: 10;
}

.conteiner_image__right {
	display: inline-block;
	height: 400px;
	width: 770px;
	background: url(img/7-cut.jpg) no-repeat;
	position: absolute;
	margin-left: 460px;
	margin-top: 80px;
}

.content-bottom {
	height: 100px;
	width: auto;
	background-color: #51233E;
	text-align: left;
	padding-top: 50px;
}


.content-bottom_inside {
	height: 55px;
	width: 1170px;
	color: #CAB69F;
	font-size: 18px;
	font-family:Raleway-Medium;
	margin-left: auto;
	margin-right: auto;
}
.content-bottom_inside__text {
	color: #CAB69F;
	font-size: 18px;
	font-family:Raleway-Medium;
	float: left;
}

.content-bottom_inside__text h4 {
	font-size: 28px;
	color: #DCDADA;
}

.content-bottom_inside__button {
	height: 30px;
	width: 170px;
	background-color: #864973;
	border-radius: 5px; 
	text-transform: uppercase;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 20px;
	float: right;
	cursor: pointer;
}

.conteiner_text  {
	height: 170px;
	width: 765px;
	text-align: center;
	padding-top: 80px;
}

.conteiner_text h3 {
	font-family: Raleway-SemiBold;
	font-size: 30px;
	margin-bottom: 25px;
}

.conteiner_text__menu {
	margin-top: 40px;
}

.conteiner_text__menu a {
	display: inline-block;
	border: 1px solid #EDEDED;
	border-radius: 4px;
	font-size: 14px;
	color: #9A9A9A;
	font-family: ﻿Montserrat-Light;
	text-decoration: none;
	float: left;
	padding: 10px 25px;
	margin-right: 10px;
	cursor: pointer;
}

.conteiner_text__menu a:hover {
	border: none;
	background-color: #864973;
	color: #fff; 
}

.conteiner_library {
	width: 1175px;
	margin-bottom: 80px;
}

.conteiner_library__top {
	display: inline-block;
	height: 413px;
	width: 1175px;
	margin-top: 45px;
	margin-bottom: 30px;
}

.conteiner_library__bottom {
	display: inline-block;
	height: 413px;
	width: 1175px;
	margin-bottom: 30px;
}

.top_block__left {
	height: 413px;
	width: 370px;
	background: url(img/3-cut.jpg) no-repeat;
	float: left;
}

.top_block__center {
	height: 413px;
	width: 370px;
	background: url(img/1-cut.jpg) no-repeat;
	position: absolute;
	margin-left: 400px;
}

.top_block__right {
	height: 413px;
	width: 370px;
	background: url(img/4-cut.jpg) no-repeat;
	float: right;
}

.bottom_block__left {
	height: 413px;
	width: 370px;
	background: url(img/5-cut.jpg) no-repeat; 
	float: left;
}

.bottom_block__center {
	height: 413px;
	width: 370px;
	background: url(img/6-cut.jpg) no-repeat;
	position: absolute;
	margin-left: 400px;
}

.bottom_block__right {
	height: 413px;
	width: 370px;
	background: url(img/10-cut.jpg) no-repeat;
	float: right;
}

.conteiner_library__comments {
	margin-top: 330px;
}
.arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 10px 15px;
	border-color: transparent transparent #fbfaf8 transparent;
}

.block__footer {
	height: 70px;
	width: 340px;
	background-color: #FBFAF8; 
	padding-top: 30px;
	padding-left: 30px;
}

.block__footer h4 {
	color: #CAB69F;
	font-size: 20px;
	font-family: ﻿Raleway-Medium;
	margin-bottom: 15px;
}

.block__footer p {
	color: #D6D6D5;
	font-size: 16px;
	font-family: ﻿Montserrat-Light;
}

.conteiner__inside {
	height: 620px;
	width: 1100px;
}

.conteiner__iPhone-in-hand {
	height: 615px;
	width: 420px;
	background: url(img/8-cut.jpg) no-repeat; 
	float: left;
}
.conteiner__text-right {
	height: 330px;
	width: 660px;
	font-family: ﻿Montserrat-Light;
	line-height: 1.6;
	color: #8C8C8C;
	float: right;
	margin-right: 40px;
	margin-top: 115px;
	margin-bottom: 40px;
}

.conteiner__text-right h4 {
	font-size: 30px;
	font-family: ﻿Raleway-SemiBold;
	color: #555555;
	margin-bottom: 40px;
}

.conteiner__text-right_list {
	list-style-image: url(img/marker.png); 
	margin-top: 40px;
}
.conteiner__text-right_list li {
	display: list-item;
	margin-left: 50px;
}

.other-color__content-bottom {
	height: 190px;
	width: 100%;
	background-color: #51233E;
	text-align: left;
	margin-top: 615px;
	padding-top: 70px;
	padding-bottom: 60px;
}

.content-bottom__block {
	display: inline-block;
	height: 170px;
	width: 135px;
	font-size: 14px;
	font-family: ﻿Roboto-Regular;
	color: #C7B299;
	text-align: center;
	margin-left: 150px;
	margin-right: 75px;
}

.content-bottom__block h3 {
	color: #fff;
	font-size: 48px;
	font-family: ﻿Montserrat-UltraLight;
	margin-bottom: 20px;
}

.content-bottom__block_people {
	height: 44px;
	width: 44px;
	background: url(img/people.png) no-repeat;
	margin-bottom: 30px;
	margin-left: 45px;
}

.content-bottom__block_cap {
	height: 44px;
	width: 48px;
	background: url(img/cap.png) no-repeat;
	margin-bottom: 30px;
	margin-left: 45px;
}

.content-bottom__block_lell {
	height: 44px;
	width: 44px;
	background: url(img/tell.png) no-repeat;
	margin-bottom: 30px;
	margin-left: 45px;
}

.content-bottom__block_heart {
	height: 44px;
	width: 44px;
	background: url(img/heart.png) no-repeat;
	margin-bottom: 30px;
	margin-left: 45px;
}

.content-bottom__block_tray {
	height: 44px;
	width: 54px;
	background: url(img/tray.png) no-repeat;
	margin-bottom: 30px;
	margin-left: 45px;
}

.foter {
}

.foter_menu{
	font-size: 18px;
	padding: 15px;

}
.foter_menu li{
	min-width: 200px;
	margin-bottom: 10px;
	text-align: center
}

.foter_menu li:hover{
	cursor: pointer;
	color: #864973;
}